*{
  margin-top:5px;
}

#selection{
  margin-top: 40px;
}

form{
  margin-top: 30px;
}

#alert,
#add{
  margin: 20px;
}
.card-body{
  text-align: center;
}

.card-header{
  margin-top: 15px;
  border: solid 0.5px grey;
  text-align: center;
}

img{
  justify-content: center;
  width: 200px !important;
  height: 150px;
}